.button {
   background: #BDBDBD;
   background-image: -webkit-linear-gradient(top, #BDBDBD, #666666);
   background-image: -moz-linear-gradient(top, #BDBDBD, #666666);
   background-image: -ms-linear-gradient(top, #BDBDBD, #666666);
   background-image: -o-linear-gradient(top, #BDBDBD, #666666);
   background-image: linear-gradient(to bottom, #BDBDBD, #666666);
   border-radius: 5px;
   color: #FFFFFF;
   font-size: 14px;
   font-weight: bold;
   padding: 5px 5px 7px 5px;
   box-shadow: 1px 1px 5px 0px #B0B0B0;
   text-shadow: 1px 1px 5px #000000;
   border: solid #B0B0B0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   color: #FFFF00;
}
